@model WFWebProject.Models.ConstructorInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ConstructorInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Constructor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Constructor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PracticeSealNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PracticeSealNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterCertNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterCertNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualificationCertNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualificationCertNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateIssue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateIssue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterMajor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterMajor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidityRegistration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidityRegistration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
